/*  */
/* SPECIAL */
.heading-title-con {
    margin-bottom: 50px;
}

.heading-title-con h2 {
    margin-bottom: 16px;
}

.heading-title-con p {
    font-size: 18px;
    line-height: 30px;
}

/* .primary-button a,
.primary-button button {
    background-color: var(--primary--color);
    padding: 0;
    min-width: 232px;
    height: 58px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 56px;
    width: 100%;
    text-decoration: none;
    color: var(--secondary--color);
    cursor: pointer;
    border: none;
    border-radius: 29px;
} */

/* BUTTONS */
.primary-button a,
.primary-button button {
    font-size: 16px;
    min-width: 178px;
    padding: 0;
    height: 60px;
    line-height: 58px;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: var(--e-global-color-white);
    background-image: linear-gradient(to left, var(--accent--color) 0%, var(--primary--color) 100%);
    transition: all 0.8s ease-in-out;
}

.primary-button a:hover,
.primary-button button:hover {
    color: var(--e-global-color-white);
    background-image: linear-gradient(to right, var(--primary--color) 0%, var(--accent--color) 100%);
}

.secondary-button a {
    font-size: 16px;
    min-width: 178px;
    padding: 0;
    height: 60px;
    line-height: 58px;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: var(--black--color);
    background-color: var(--secondary--color);
    transition: all 0.8s ease-in-out;
}

.secondary-button a:hover {
    color: var(--secondary--color);
    background-color: var(--black--color);
}

.elementory-button a {
    font-size: 16px;
    min-width: 178px;
    padding: 0;
    height: 60px;
    line-height: 58px;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: var(--secondary--color);
    background-color: var(--black--color);
    transition: all 0.8s ease-in-out;
}

.elementory-button a:hover {
    color: var(--black--color);
    background-color: var(--secondary--color);

}

h1 {
    font-size: 110px;
    font-weight: 600;
    line-height: 100px;
    color: var(--secondary--color);
    margin-bottom: 37px;
}

h2.special-heading {
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    color: var(--secondary--color);
    margin-bottom: 20px;

}

h1.sub-heading {
    font-size: 84px;
    line-height: 100px;
    font-weight: 600;
    color: var(--secondary--color);
}

h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: var(--black--color);
}

h3 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    color: var(--black--color);
}

h4.heading4 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: var(--black--color);
}

h4.heading5 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: var(--black--color);
}

h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--black--color);
}

h5 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: var(--black--color);
}

h6 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: var(--black--color);
}

.spacer {
    float: left;
    width: 100%;
    height: 50px;
}

.text-size-16,
.font-size-16 {
    font-size: 16px;
    line-height: 26px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-14 {
    font-size: 14px;
    line-height: 14px;
}

.font-size-12 {
    font-size: 12px;
    line-height: 12px;
}

.padding-top {
    padding-top: 125px;
}

.padding-bottom {
    padding-bottom: 125px;
}

.padding-top100 {
    padding-top: 100px;
}

.padding-bottom100 {
    padding-bottom: 100px;
}

.special-text {
    color: var(--black--color);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-family: "Sora", sans-serif;
}

.min-height-auto {
    min-height: auto !important;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-20 {
    font-size: 20px;
    line-height: 30px;
}

.gradient {
    background-image: linear-gradient(to left, var(--accent--color) 0%, var(--primary--color) 100%);
    /* background: linear-gradient(to right,  rgb(41,205,120) 0%,rgb(49,61,247) 100%); */
}


.z-index-1 {
    z-index: 1;
}

.font-weight-500 {
    font-weight: 500;
}

.background-fff {
    background-color: var(--secondary--color) !important;
}

.black-text {
    color: var(--black--color);
}

.text-size-18 {
    font-size: 18px;
    line-height: 30px;
}

.font-weight-800 {
    font-weight: 800;
}

.text-color {
    color: var(--text--color);
}

.all_row {
    display: flex;
    flex-wrap: wrap;
}

.all_column {
    display: flex;
}

.all_boxes {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.background-grey {
    background-color: var(--grey--bg);
}

.overflow-hidden {
    overflow: hidden;
}

.primary_btn {
    font-size: 16px;
    min-width: 178px;
    padding: 22px 30px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    position: relative;
    display: inline-block;
    color: var(--secondary--color);
    background-image: linear-gradient(to left, var(--accent--color) 0%, var(--primary--color) 100%);
    transition: all 0.8s ease-in-out;
}

.primary_btn:hover {
    color: var(--secondary--color);
    background-image: linear-gradient(to right, var(--accent--color) 0%, var(--primary--color) 100%);
    text-decoration: none;
}

.secondary_btn {
    font-size: 16px;
    min-width: 178px;
    padding: 22px 30px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    position: relative;
    display: inline-block;
    color: var(--secondary--color);
    background-color: var(--black--color);
    transition: all 0.8s ease-in-out;
}

.secondary_btn:hover {
    color: var(--black--color);
    background-color: var(--secondary--color);
    text-decoration: none;
}

.elementary_btn {
    font-size: 16px;
    min-width: 178px;
    padding: 22px 30px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    position: relative;
    display: inline-block;
    color: var(--black--color);
    background-color: var(--secondary--color);
    transition: all 0.8s ease-in-out;
}

.elementary_btn:hover {
    color: var(--secondary--color);
    background-color: var(--black--color);
    text-decoration: none;
}

.black-bg {
    background-color: var(--black--color);
}